 <h4 style="display:inline;margin-left:60px">
 <form method="post" style="display:inline;">
  <button type="submit" name="page" value="" class="btn-link">Home</button>
  &nbsp&nbsp&nbsp&nbsp
  <input type="hidden" name="run_id" value="{{ run_id }}">
  <button type="submit" name="page" value="run" class="btn-link">Run Profile</button>
  &nbsp&nbsp&nbsp&nbsp
  <input type="hidden" name="run_id" value="{{ run_id }}">
  <input type="hidden" name="state" value="{{ state }}">
  <input type="hidden" name="notes" value="{{ notes }}">
  <button type="submit" name="page" value="editcopy" class="btn-link">Edit/Copy Profile</button>
  &nbsp&nbsp&nbsp&nbsp
  <input type="hidden" name="run_id" value="{{ run_id }}">
  <input type="hidden" name="notes" value="{{ notes }}">
  <button type="submit" name="page" value="del_conf" class="btn-link">Delete Profile</button>
 </form>
 </h4>
 <br><br>
 {{ message }}
 <h2 style="display:inline;margin-left:60px">Segments for {{ state }} Firing Profile {{ run_id }}</h2><br>
 <form method="post" style="display:inline;margin-left:60px">
  <input type="hidden" name="run_id" value="{{ run_id }}">
  <input type="hidden" name="state" value="{{ state }}">
  <input type="text" name="notes" value="{{ notes }}" size="60">
  <button type="submit" name="page" value="notes_save" class="btn-link">Update Notes</button>
 </form><br>
 <h4 style="display:inline;margin-left:60px">PID Settings: </h4>&nbsp;&nbsp;
 <h5 style="display:inline;">Proportional: {{ profile['p_param'] }}&nbsp;&nbsp;&nbsp;&nbsp;Integral: {{ profile['i_param'] }}&nbsp;&nbsp;&nbsp;&nbsp;Derivative: {{ profile['d_param'] }}</h5> 
 <table style="margin-left:60px">
 <tr>
  <th>Segment</th>
  <th>Target Temp</th>
  <th>Rate(degrees/hr)</th>
  <th>Hold Minutes</th>
  <th>Interval Seconds</th>
 </tr>
 {% for segment in segments %}
 <tr>
  <td>{{ segment['segment'] }}</td>
  <td>{{ segment['set_temp'] }}</td>
  <td>{{ segment['rate'] }}</td>
  <td>{{ segment['hold_min'] }}</td>
  <td>{{ segment['int_sec'] }}</td>
 </tr>
 {% endfor %}
 </table>
 <br>
